<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <link rel="icon" type="img" href="Logo_Trash.PNG">
    <title>TrashTroops</title>
</head>
<body>
    <div class="hero">
        
        <video autoplay loop muted plays-inline class="back-video"> 
            <source src= "trash.mp4" type="video/mp4">
        </video>
        
        <nav> 
            <img src="Logo_Trash.PNG" alt="Logo" style="width: 300px; height: 70px;">

            <ul>
                <li><a href="home.html">HOME</a></li>
                 
                <li><a href="about.html">About</a></li>
                <li><a href="team.html">Team</a></li>                
                <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        
            <div class="content">
                <h1>TrashTroops</h1>
                <a href="index.html">Explore</a>
            </div>
        
    </div>
</body>
</html>

